<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>公共底部</title>
  <link rel="stylesheet" href="../../Content/Style/Web/public.css">
  <link rel="stylesheet" href="../../Content/Style/Web/style.css">
</head>
<body>
  <div class="m_footer">
    <div class="footerone">
        <div class="w1200 auto fix">
          <div class="ftone_left l">
              <ul>
                <li class='f_menu l'>
                  <h2>产品中心</h2>
                  <ul class="f_menu_con">
                    <li><a href="">交易产品</a></li>
                    <li><a href="">合约细则</a></li>
                  </ul>
                </li>
                <li class='f_menu l'>
                  <h2>新户指引</h2>
                  <ul class="f_menu_con">
                    <li><a href="">开设真实账户</a></li>
                    <li><a href="">开户流程</a></li>
                    <li><a href="">常见问题</a></li>
                    <li><a href="">开户流程</a></li>
                  </ul>
                </li>
                <li class='f_menu l'>
                  <h2>交易指南</h2>
                  <ul class="f_menu_con">
                    <li><a href="">存款指南</a></li>
                    <li><a href="">取款指南</a></li>
                    <li><a href="">今日汇率</a></li>
                  </ul>
                </li>
                <li class='f_menu l'>
                  <h2>产品中心</h2>
                  <ul class="f_menu_con">
                    <li><a href="">投资入门</a></li>
                    <li><a href="">行情资讯</a></li>
                  </ul>
                </li>
                <li class='f_menu l'>
                  <h2>关于我们</h2>
                  <ul class="f_menu_con">
                    <li><a href="">公司简介</a></li>
                    <li><a href="">平台监管</a></li>
                    <li><a href="">平台公告</a></li>
                    <li><a href="">联系我们</a></li>
                  </ul>
                </li>
              </ul>
          </div>
          <div class="ftone_right l">
              <p class='ft_email mb'><i class='icon1 icon_email'></i>abcd@abcd.com</p>
              <p class='ft_tel'><i class='icon1 icon_tel'></i >400-00000000</p>
              <p class='ft_support'><i class='icon1 icon_support'></i>在线客服</p>
          </div>
        </div>
    </div>
    <div class="footertwo pt20">
       <div class="w1200 auto fix">
          <h2 class='f18 lh38'>
            风险提示
          </h2>
          <p class='f12 lh24'>
            保证金交易存在较高风险，不适合所有投资者，增大杠杆意味着高风险与高收益并存，您需要知晓金融市场的保证金交易具有全部或部分亏损的可能，仔细考量并权衡风险及安全性，并选择适合自己的投资方式。
          </p>
          <p class='f12 lh24'> 交易平台为广大投资者提供外汇交易服务，网站发布的任何信息仅供参考，投资有风险，入市需谨慎。详情请参阅<a class='tdl cff0000' href="">风险披露书</a>。</p>
          <p class='f12 lh24 mt23'>受新西兰金融市场行为监管局（FSP）授权及监管，公司编号4859799</p>
       </div>       
    </div>
    <div class="footerthree">
       <div class="w1200 auto fix">
         <span class="l">Copyright © 2015-2017 ***有限公司版权所有   未经许可不得复制、转载或摘编，违者必究！</span>
         <span class='r'>
           <a class='wh' href="">隐私条款</a>
           <em>|</em>
           <a class='wh' href="">风险披露数</a>
           <em>|</em>
           <a class='wh' href="">免责声明</a>
           <a  class='bgc39d02 w60 h18 tc lh18 ml10 dib wh' href="">会员登录</a>
         </span>
       </div>
    </div>
  </div>
</body>
</html>