<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>公共头部</title>
  <link rel="stylesheet" href="../../Content/Style/Web/public.css">
</head>
<body>
    <div class="m_head">
        <div class="headone">
            <div class="w1200 auto fix">
              <h2 class="pr l">
                  <a class='logo_link' href="">
                    <img class='vm' src="../../Content/Images/logo_b.png" alt="">
                  </a>
              </h2>
              <div class="headerone_r r">
                  <ul class='nav_menu l fix ovh'>
                    <li class='nav_menu_item'><a class='nav_link' href="">首页</a></li>
                    <li class='nav_menu_item'><a class='nav_link' href="">产品中心</a></li>
                    <li class='nav_menu_item current'><a class='nav_link' href="">新户指引</a></li>
                    <li class='nav_menu_item'><a class='nav_link' href="">交易指南</a></li>
                    <li class='nav_menu_item'><a class='nav_link' href="">投资者教育</a></li>
                    <li class='nav_menu_item'><a class='nav_link' href="">关于我们</a></li>
                  </ul>
                  <ul class='shortcut l fix'>
                    <li class='shortcut_item'>
                      <a href="">
                        <i class='icon2 db icon_reg'>
                        </i>
                        <span class='g6 f12'>开设真实账户
                        </span>
                      </a>
                    </li>
                    <li class='shortcut_item'>
                      <a href="">
                        <i class='icon2 db icon_login'>
                        </i>
                        <span class='g6 f12'>账户登录
                        </span>
                      </a>
                    </li>
                    <li class='shortcut_item'>
                      <a href="">
                        <i class='icon2 db icon_support'>
                        </i>
                        <span class='g6 f12'>在线客服
                        </span>
                      </a>
                    </li>
                  </ul>
              </div>
            </div>
        </div>
        <div class="headtwo ">
        </div>
        <div class="mb30 headthree">
            <div class="w1200 auto">
                <ul class='menu_ul fix'>
                  <li class='menu_li'><a class='menu_link f18' href="">
                    交易产品
                  </a></li>
                  <li class='menu_li'><a class='menu_link f18 current' href="">合约细则</a></li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>