<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>合约明细</title>
  <link rel="stylesheet" href="../../Content/Style/Web/public.css">
  <link rel="stylesheet" href="../../Content/Style/Web/style.css">
</head>
<body>
  <div class="hy_table_w">
      <div class="w1200 auto">
          <table class='w hy_table'>
              <thead>
                <tr>
                  <th class='th_1'>产品</th>
                  <th class='th_2'>产品<br>代号</th>
                  <th class='th_3'>点差</th>
                  <th class='th_4'>最小交<br>易手数</th>
                  <th class='th_5'>1标准<br>手规模</th>
                  <th class='th_6'>杠杆</th>
                  <th class='th_7'>交易时间<br>（北京时间，GMT+8）</th>
                  <th class='th_8'>休市时间<br>（北京时间，GMT+8）</th>
                  <th class='th_9'>股市<br>保证金</th>
                  <th class='th_10'>维持<br>保证金</th>
                  <th class='th_11'>锁仓<br>保证金</th>
                  <th class='th_12'>假日过市<br>保证金</th>
                </tr>
              </thead>
              <tbody>
                <tr class='wh_tr'>
                  <td>澳元/加拿大元</td>
                  <td>AUDACD</td>
                  <td>3.0</td>
                  <td rowspan="14">0.1手</td>
                  <td rowspan="14">100，000美元/手</td>
                  <td rowspan="14">1:200</td>
                  <td rowspan="14">Mon07：10am-Sat03：00am（夏令时）<br>Mon07：10am-Sat04：00am（冬令时）</td>
                  <td rowspan="14">Daily04:55am-06:10am
（夏令时）

Daily05:55am-07:10am
（冬令时）</td>
                  <td rowspan="14">即市保证金：产品合约当时价值的0.5%</td>
                  <td rowspan="14">维持保证金：维持保证金>实时保证金 x30%</td>
                  <td rowspan="14">锁仓保证金：每套合约价格 x 0.1% 。 
解锁：需要补足原先单向保证金</td>
                  <td rowspan="14">假日过市保证金：2倍</td>
                </tr>
                <tr class='wh_tr'>
                  <td>澳元/日元</td>
                  <td>AUDJPY</td>
                  <td>3.0</td>   
                </tr>
                <tr class='wh_tr'>
                  <td>澳元/美元</td>
                  <td>AUDUSD</td>
                  <td>2.5</td>
                </tr>
                <tr class='wh_tr'>
                  <td>欧元/加拿大元</td>
                  <td>EURCAD</td>
                  <td>3.0</td>
                </tr>
                <tr class='wh_tr'>
                  <td>欧元/美元</td>
                  <td>EURUSD</td>
                  <td>2.5</td>
                </tr>
                <tr class='wh_tr'>
                  <td>欧元/瑞士法郎</td>
                  <td>EURCHF</td>
                  <td>2.5</td>
                </tr>
                <tr class='wh_tr'>
                  <td>英镑/澳元</td>
                  <td>GBPAUD</td>
                  <td>3.0</td>
                </tr>
                <tr class='wh_tr'>
                  <td>澳元/加拿大元</td>
                  <td>AUDCAD</td>
                  <td>3.0</td>
                </tr>
                <tr class='wh_tr'>
                  <td>澳元/日元</td>
                  <td>AUDJPY</td>
                  <td>3.0</td>
                </tr>
                <tr class='wh_tr'>
                  <td>澳元/美元</td>
                  <td>AUDUSD</td>
                  <td>3.0</td>
                </tr>
                <tr class='wh_tr'>
                  <td>欧元/加拿大元</td>
                  <td>EURCAD</td>
                  <td>3.0</td>
                </tr>
                <tr class='wh_tr'>
                  <td>欧元/美元</td>
                  <td>EURUSD</td>
                  <td>2.5</td>
                </tr>
                 <tr class='wh_tr'>
                  <td>欧元/瑞士法郎</td>
                  <td>EURCHF</td>
                  <td>2.5</td>
                </tr>
                 <tr class='wh_tr'>
                  <td>英镑/澳元</td>
                  <td>GBPAUD</td>
                  <td>3.0</td>
                </tr>
                <tr class='golden_tr'>
                  <td>黄金/美元</td>
                  <td>XAUUSD</td>
                  <td>0.5</td>
                  <td rowspan='2'>0.1手</td>
                  <td>100盎司/手</td>
                  <td>1:100</td>
                  <td rowspan='2'>Mon07：10am-Sat03：00am
(夏令时)<br>Mon07：10am-Sat04：00am
(冬令时)</td>
                  <td rowspan='2'>Daily04:55am-06:05am</td>
                  <td>1000美元/手</td>
                  <td rowspan='2'>维持保证金>实时保证金 x 30%</td>
                  <td>200美元/手<br>解锁：需要补足原先单向保证金</td>
                  <td>2000美元/手</td>
                </tr>
                <tr class='golden_tr'>
                  <td>白银/美元</td>
                  <td>XAGUSD</td>
                  <td>0.0</td>
                  <td>5000盎司/手</td>
                  <td>1:50:00</td>
                  <td>1500美元/手</td>
                  <td>300美元/手
解锁：需要补足原先单向保证金</td>
                  <td>3000美元/手</td>
                </tr>
                <tr class='crude_tr'>
                  <td>布兰特油</td>
                  <td>BRENT</td>
                  <td>0.1</td>
                  <td rowspan='2'>0.1手</td>
                  <td>1000桶/手</td>
                  <td>1:50</td>
                  <td>Mon08：10am-Sat03：00am（夏令时）<br>Mon09：10am-Sat04：00am（冬令时）</td>
                  <td>Daily04:55am-08:05am
（夏令时）

Daily05:55am-09:05am
（冬令时）</td>
                  <td>1000美元/手</td>
                  <td>维持保证金>实时保证金 x 30%</td>
                  <td rowspan='2'>200美元/手
解锁：需要补足原先单向保证金

锁仓保证金的计算方法：锁仓保证金=（卖单保证金+买单保证金）x1/10</td>
                  <td>2000美元/手</td>
                </tr>
                <tr class='crude_tr'>
                  <td>美国原油</td>
                  <td>WTI</td>
                  <td>0.1</td>
                  <td> 1000桶/手</td>
                  <td>1:50:00</td>
                  <td>Mon07：10am-Sat03：00am（夏令时）<br>Mon07：10am-Sat04：00am（冬令时）</td>
                  <td>Daily04:55am-06:10am
（夏令时）<br>Daily05:55am-07:10am
（冬令时）</td>
                  <td>1000美元/手</td>
                  <td>维持保证金>实时保证金 x 30%</td>
                  <td>2000美元/手</td>
                </tr>
              </tbody>
          </table>
      </div>
  </div>
  
</body>
</html>