<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>存款指南</title>
  <link rel="stylesheet" href="../../Content/Style/Web/public.css">
  <link rel="stylesheet" href="../../Content/Style/Web/style.css">
</head>
<body>
  <div class="content">
             <div class="w1200 auto">
                <ul class='guid_ul'>
                  <li  class='guid_li'>
                    <p class='guid_text c1e2432 mb15'>第一步：打开官网，点击网站首页右上方「账户登录」按钮进入登录界面：</p>
                    <p class='guid_img'>
                      <img src="../../Content/Images/lc1.jpg" alt="">
                      </p>
                  </li>
                   <li  class='guid_li'>
                    <p class='guid_text c1e2432 mb15'>第二步：输入交易账户、密码及验证码，点击「登录」进入用户中心：心</p>
                    <p class='guid_img'>
                      <img src="../../Content/Images/lc2.jpg" alt="">
                      </p>
                  </li>
                   <li  class='guid_li'>
                    <p class='guid_text c1e2432 mb15'>第三步：选择「入金」：</p>
                    <p class='guid_img'>
                      <img src="../../Content/Images/lc3.jpg" alt="">
                      </p>
                  </li>
                   <li  class='guid_li'>
                    <p class='guid_text c1e2432 mb15'>第四步：输入您需要存款的金额，点击「确定支付」：</p>
                    <p class='guid_img'>
                      <img src="../../Content/Images/lc4.jpg" alt="">
                      </p>
                  </li>
                  
                </ul>
            </div>  
    </div> 
</body>
</html>