<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>取款指南</title>
  <link rel="stylesheet" href="../../Content/Style/Web/public.css">
  <link rel="stylesheet" href="../../Content/Style/Web/style.css">
</head>
<body>
 <div class="rate_wrap">
        <div class="w1200 auto">
            <p>2017年07月14日美元兑人民币买入价和卖出价参考汇率如下：</p>
            <div class="rate_tab mb20">
                <table>
                    <thead>
                      <tr class='bg1e2432'>
                        <th>兑换币种</th>
                        <th>买入价（出金）</th>
                        <th>卖出价（入金）</th>
                      </tr>
                    </thead>
                    <tbody class='c1e2432 f16'>
                      <tr>
                        <td>1美元兑人民币</td>
                        <td>6.78</td>
                        <td>6.88</td>
                      </tr>
                    </tbody>
                </table>
            </div>
            <p class='g6'>汇率于香港时间11:30生效，每日11:30前沿用前一日工作日汇率，本汇率工作者每日更新</p>
            <p class='c009263 mt10'>(汇率具体准确更新时间取决于银行操作时间，与工作日11:30会有一定的时间差)</p>
        </div>
  </div>  
</body>
</html>