<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>取款指南</title>
  <link rel="stylesheet" href="../../Content/Style/Web/public.css">
  <link rel="stylesheet" href="../../Content/Style/Web/style.css">
</head>
<body>
  <div class="content">
             <div class="w1200 auto">
                <ul class='guid_ul'>
                  <li  class='guid_li'>
                    <p class='guid_text c1e2432 mb15'>第一步：打开官网，点击网站首页右上方「账户登录」按钮进入登录界面：</p>
                    <p class='guid_img'>
                      <img src="../../Content/Images/lc0001.jpg" alt="">
                      </p>
                  </li>
                   <li  class='guid_li'>
                    <p class='guid_text c1e2432 mb15'>第二步：输入交易账户、密码及验证码，点击「登录」进入用户中心：</p>
                    <p class='guid_img'>
                      <img src="../../Content/Images/lc0002.jpg" alt="">
                      </p>
                  </li>
                   <li  class='guid_li'>
                    <p class='guid_text c1e2432 mb15'>第三步：选择「出金」：</p>
                    <p class='guid_img'>
                      <img src="../../Content/Images/lc0003.jpg" alt="">
                      </p>
                  </li>
                   <li  class='guid_li'>
                    <p class='guid_text c1e2432 mb15'>第四步：若出现如下图页面，请确认您的身份认证资料（身份证、银行卡）是否上传，个人资料与银行资料是否完善。资料完善后联系官网24小时在线客服锁定资料后才能进行取款：
</p>
                    <p class='guid_img'>
                      <img src="../../Content/Images/lc0004.jpg" alt="">
                      </p>
                  </li>
                  <li  class='guid_li'>
                    <p class='guid_text c1e2432 mb15'>第五步：输入您需要取款的金额，点击「确认提交」：</p>
                    <p class='guid_img'>
                      <img src="../../Content/Images/lc0005.jpg" alt="">
                      </p>
                  </li>
                </ul>
            </div>  
    </div> 
</body>
</html>