<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>首页</title>
  <link rel="stylesheet" href="../../Content/Style/Web/public.css">
  <link rel="stylesheet" href="../../Content/Style/Web/style.css">
</head>
<body>
  <div class="content pr">
      <!-- header start-->
      <div class="header">
        <div class='w1200 auto header-t fix '>
          <!-- logo   strat-->
          <h1 class="logo l">
              <a class='' href="">
                <img src="../../Content/Images/logo.png" alt="">
              </a>
          </h1>
          <div class="nav r ">
            <ul class='fix'>
              <li class='nav_menu'>
                <a class='nav_tit' href="javascript:void(0);">首页</a>
                <div class="nav_list">
                  <ul class=''>
                      <li><a  href="javascript:void(0);">创立资讯</a></li>
                  </ul>
                </div>  
              </li>
              <li class='nav_menu'>
                <a class='nav_tit' href="javascript:void(0);">产品中心</a>
                <div class="nav_list">
                    <ul  class=''>
                      <li><a  href="javascript:void(0);">交易产品</a></li>
                      <li><a href="javascript:void(0);">合约细则</a></li>
                    </ul>
                </div>      
                </li>
              <li class='nav_menu'>
                <a class='nav_tit' href="javascript:void(0);">新户指引</a>
                <div class="nav_list">
                     <ul  class=''>
                        <li><a href="javascript:void(0);">开户流程</a></li>
                        <li><a href="javascript:void(0);">常见问题</a></li>
                        <li><a href="javascript:void(0);">交易平台下载</a></li>
                      </ul>
                </div>       
              </li>
              <li class='nav_menu'>
                <a class='nav_tit' href="javascript:void(0);">交易指南</a>
                <div class="nav_list">
                    <ul  class=''>
                      <li><a href="javascript:void(0);">开设真实账户</a></li>
                      <li><a href="javascript:void(0);">开户流程</a></li>
                      <li><a href="javascript:void(0);">常见问题</a></li>
                      <li><a href="javascript:void(0);">交易平台下载</a></li>
                    </ul>
                </div> 
              </li>
              <li class='nav_menu'>
                <a class='nav_tit' href="javascript:void(0);">投资者教育</a>
                <div class="nav_list">
                    <ul  class=''>
                      <li><a href="javascript:void(0);">投资入门</a></li>
                      <li><a href="javascript:void(0);">行情资讯</a></li>
                    </ul>
                </div>    
              </li>
              <li class='nav_menu'>
                <a class='nav_tit' href="javascript:void(0);">关于我们</a>
                <div class="nav_list">
                    <ul  class=''>
                      <li><a href="javascript:void(0);">公司简介</a></li>
                      <li><a href="javascript:void(0);">平台监管</a></li>
                      <li><a href="javascript:void(0);">平台公告</a></li>
                      <li><a href="javascript:void(0);">联系我们</a></li>
                    </ul>
                </div>
              </li>
              <li class='nav_shortcut'>
                <ul class='nav_shortcut_ul fix'>
                  <li>
                    <a class='shourtcut_link' href="">
                      <i class=' icon1 icon_reg_1'>
                      </i>
                    </a>
                  </li>
                  <li>
                    <a class='shourtcut_link' href="">
                      <i class=' icon1 icon_login_1'>
                      </i>
                    </a>
                  </li>
                  <li>
                    <a class='shourtcut_link' href="">
                      <i class=' icon1 icon_support_1'>
                      </i>
                    </a>
                  </li>
                  <li>
                    <a class='shourtcut_link' href="">
                      <i class=' icon1 icon_menu'>
                      </i>
                    </a>
                  </li>
                </ul>
                <div class="nav_list">
                    <ul class='shoutcut_con'>
                      <li class='shoutcut_con_item'><a class='shortcut_btn bg71c255' href=""><span class='icon_wrap mr10'><i class='dib icon1 icon_reg_1 pr'></i></span><span>开设真实账户</span></a></li>
                      <li class='shoutcut_con_item '><a class='shortcut_btn bg4ab3e4' href=""><span class='icon_wrap mr10'><i class='dib icon1 icon_login_1 pr'></i></span><span class=''>账户登录</span></a></li>
                      <li class='shoutcut_con_item'><a class='shortcut_btn bge86e6e' href=""><span class='icon_wrap mr10'><i class='dib icon1 icon_support_1 pr'></i></span>
                      <span>在线客服</span></a></li>
                    </ul>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- header end -->
      <!-- banner start -->
      <div class="banner">
        <div class="banner_hd">
          <ul>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
          </ul>
        </div>
         <div class="banner_bd">
            <ul class="fix">
                <li class="on"></li>
                <li class=""></li>
                <li class=""></li>
                <li class=""></li>
                <li class=""></li>
                <li class=""></li>
                <li class=""></li>
            </ul>
        </div>
      </div>
      <!-- banner end -->
      <!-- 最新公告 start -->
      <div class="new_box">
          <div class="w1200 auto fix pr">
              <h2 class="new_title l mr15">
                  <i class='icon1 icon-new'></i>
                  <span>最新公告：</span>
              </h2>
              <div class='new_list l'>
                  <ul class='new_ul'>
                    <li class="new_item"><a href="" class='new_link ell'>英国大选相关交易规则提醒阿斯达所多</a></li>
                    <li class="new_item"><a href="" class='new_link ell'>英国大选相关交易规则提醒阿斯达所多</a></li>
                    <li class="new_item"><a href="" class='new_link ell'>英国大选相关交易规则提醒阿斯达所多</a></li>
                    <li class="new_item"><a href="" class='new_link ell'>英国大选相关交易规则提醒阿斯达所多</a></li>
                  </ul>
              </div>
              <div class="new_control r">
                  <i class='icon1 icon-up'></i>
                  <i class='icon1 icon-down mt4'></i>
              </div>
          </div>
      </div>
      <!-- 最新公告 end -->
      <div class="first_wrap mt15 mb30">
        <div class="w1200 auto fix ">
            <!-- 行情资讯  start-->
            <div class='w585 left_box  h505 l'>
              <div class="box_title pr bb1e2432">
                  <h2 class='n f20 lh45 g0 '>
                  行情资讯
                  </h2>
                  <span class='pa title_line bge9c637'></span>
              </div> 
              <div class="hq_info_box mt22">
                  <ul>
                    <li class='mt22 hq_info_item fix mb30'>
                      <div class="hq_info_date l">
                          <div class="date_box_top f24">2017</div>
                          <div class="pt10 date_box_middle">
                              <em class='f24 g0 db'>27</em>
                              <i class='f12 db'>07</i>
                          </div>
                          <div class="date_box_bottom">
                            <a  href="" class='link_formore'>
                                <i class="icon1 icon_formore"></i>
                            </a>       
                          </div>
                      </div>
                      <div class="hq_info_text l">
                          <div class="text_title f18">
                          <span class='ell w180 dib'>欧银传言令欧元暴跌阿斯达所大所</span>   
                          </div>
                          <p class="text_content tj">
                            <a href="">
                              周三(6月7日)欧洲时段，因消息人士称欧洲央行将下调通胀预估，但随后又称欧银总体措辞变化不大，市场虚惊一场，欧元暴跌
                            </a>    
                          </p>
                      </div>
                      <div class="hq_info_img r">
                        <a href="">
                            <img src="../../Content/Images/pic01.jpg" height="199" width="196" alt="">
                        </a>    
                      </div>
                    </li>
                    <li class='hq_info_item fix'>
                      <div class="hq_info_date l">
                          <div class="date_box_top f24">2017</div>
                          <div class="pt10 date_box_middle">
                              <em class='f24 g0 db'>27</em>
                              <i class='f12 db'>07</i>
                          </div>
                          <div class="date_box_bottom">
                            <a href="" class="link_formore">
                                <i class="icon1 icon_formore"></i>
                            </a>     
                          </div>
                      </div>
                      <div class="hq_info_text l">
                          <div class="text_title f18">
                          <span class='ell w180 dib'>欧银传言令欧元暴跌阿斯达所大所</span>   
                          </div>
                          <p class="text_content tj">
                            <a href="">
                              周三(6月7日)欧洲时段，因消息人士称欧洲央行将下调通胀预估，但随后又称欧银总体措辞变化不大，市场虚惊一场，欧元暴跌
                            </a>    
                          </p>
                      </div>
                      <div class="hq_info_img r">
                        <a href="">
                          <img src="../../Content/Images/pic01.jpg" alt="">
                        </a>
                      </div>
                    </li>
              </div>
            </div>
            <!-- 行情资讯 end -->
            <!-- 实时报价 start-->
            <div class="w585 r right_box fix">
                <div class="box_title pr fix bb1e2432 lh45">
                  <h2 class='n l f20  g0 h45 '>
                  实时报价
                  </h2>
                  <div class='title_r r'>
                    <a href="javascript:void(0);" class='current'>外汇</a>
                    <span class="mr20 ml20 g6">|</span>
                    <a href="javascript:void(0);">贵金属</a>
                    <span class="mr20 ml20 g6">|</span>
                    <a href="">原油</a>
                  </div>
                  <span class='pa title_line bge9c637'></span>
                </div> 
                <div class="bj_wrap">
                  <div class="bj_wrap_box">
                    <div class="bj_wrap_box_v">
                      <table>
                        <thead>
                          <tr>
                            <th class='w154'>产品</th>
                            <th >卖出价</th>
                            <th>最新价</th>
                            <th>买入价</th>
                            <th>涨跌</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>澳元/加拿大元</td>
                            <td class='eed56a'>
                                0.993
                            </td>
                            <td>0.993</td>
                            <td >0.985</td>
                            <td class='col46c500'>0.000%</td>
                          </tr>
                         <tr>
                            <td>澳元/加拿大元</td>
                            <td class='eed56a'>
                                0.993
                            </td>
                            <td>0.993</td>
                            <td >0.985</td>
                            <td class='col46c500'>0.000%</td>
                          </tr>
                         <tr>
                            <td>澳元/加拿大元</td>
                            <td class='eed56a'>
                                0.993
                            </td>
                            <td>0.993</td>
                            <td >0.985</td>
                            <td class='col46c500'>0.000%</td>
                          </tr>
                          <tr>
                            <td>澳元/加拿大元</td>
                            <td class='eed56a'>
                                0.993
                            </td>
                            <td>0.993</td>
                            <td >0.985</td>
                            <td class='col46c500'>0.000%</td>
                          </tr>
                         <tr>
                            <td>澳元/加拿大元</td>
                            <td class='eed56a'>
                                0.993
                            </td>
                            <td>0.993</td>
                            <td >0.985</td>
                            <td class='col46c500'>0.000%</td>
                          </tr>
                          <tr>
                            <td>澳元/加拿大元</td>
                            <td class='eed56a'>
                                0.993
                            </td>
                            <td>0.993</td>
                            <td >0.985</td>
                            <td class='col46c500'>0.000%</td>
                          </tr>
                          <tr>
                            <td>澳元/加拿大元</td>
                            <td class='eed56a'>
                                0.993
                            </td>
                            <td>0.993</td>
                            <td >0.985</td>
                            <td class='col46c500'>0.000%</td>
                          </tr>
                          <tr>
                            <td>澳元/加拿大元</td>
                            <td class='eed56a'>
                                0.993
                            </td>
                            <td>0.993</td>
                            <td >0.985</td>
                            <td class='col46c500'>0.000%</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
            </div>  
            <!-- 实时报价end -->
        </div>
      </div>
      <div class="sec_wrap">
          <div class="w1200 auto h594 pr">
            <div class="mt4_dl_box">
                  <div class="mt4_dl_hd">
                    <ul class='fix mt4_dl_ul'>
                      <li class='mt4_dl_li current l'>MT4 PC端</li>
                      <li class='mt4_dl_li l'>MT4移动端</li>
                    </ul>
                  </div>
                  <div class="mt4_dl_cd">
                    <div class="mt4_dl_tab dn fix">
                        <div class="mt4_dl_tab_l l">
                          <img src="../../Content/Images/pic03.png" alt="">
                        </div>
                        <div class="mt4_dl_tab_r l">
                            <div class="adv_img">
                                <img src="../../Content/Images/MT4pic01.png" alt="">
                            </div>
                            <div class="mt4_dl_con">
                                <ul class='fix'>
                                  <li class='mt4_dl_con_li mr5'>
                                      <img src="../../Content/Images/wx1.jpg" alt="">
                                      <a class='dl_btn wx_ios' href="">
                                          <i class='icon1 icon_ios'></i>
                                          <span>IOS下载</span>
                                      </a> 
                                  </li>
                                  <li class='mt4_dl_con_li'>
                                      <img src="../../Content/Images/wx2.jpg" alt="">
                                      <a class='dl_btn wx_android' href="">
                                          <i class='dib icon1 icon_android'></i>
                                          <span>Android下载</span>
                                      </a> 
                                  </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="mt4_dl_tab fix">
                        <div class="mt4_dl_tab_l l">
                          <img src="../../Content/Images/pic04.png" alt="">
                        </div>
                        <div class="mt4_dl_tab_r l">
                            <div class="adv_img">
                                <img src="../../Content/Images/MT4pic01.png" alt="">
                            </div>
                            <div class="mt4_dl_con">
                                <a class='dl_btn wx_pc' href="">
                                      <i class='dib icon1 icon_pc'></i>
                                      <span >PC端下载</span>
                                </a> 
                            </div>
                        </div>
                    </div>
                  </div>
            </div>            
          </div> 
      </div>
      <div class="three_wrap">
        <div class="w1200 auto">
            <div class="fx_box_title tc">
                <h2 class='f46'>
                  EXPERT ANALYSIS<br/>
                  分析师观点
                </h2>
                <p class='g6 lh24 mt3'>
                  高级分析师团队，成员均来自于国际顶级金融机构，拥有实战分析交易从业经验超过20年，擅长海龟交易法，江恩法则等技术分析
                </p>
            </div>
            <div class="fx_box_wd">
                <ul class="fix fx_wd_ul">
                  <li class='fix fx_wd_li l mb20'>
                    <div class="left_box l">
                       <a href="">
                        <img src="../../Content/Images/pic05.jpg" alt="">
                      </a>
                    </div>
                    <div class="right_box r">
                      <div class="fx_text_box">
                        <p class="text_title f18 ">
                            WEBSITE咨询分析师团队
                        </p>
                        <p class="text_content tj ">
                            <a href="">
                              WEBSITE高级分析师均来自于国际顶级金融机构，拥有实战分析交易从业经验超过20年，擅长海龟交易法，江恩法则等技术分析
                            </a>
                        </p>
                      </div>    
                    </div>
                  </li>
                  <li class='fix fx_wd_li r mb20'>
                    <div class="left_box l">
                      <a href="">
                        <img src="../../Content/Images/pic05.jpg" height="138" width="299" alt="">
                      </a>
                    </div>
                    <div class="right_box r">
                      <div class="fx_text_box">
                        <p class="text_title f18 ">
                            WEBSITE咨询分析师团队
                        </p>
                        <p class="text_content tj ">
                            <a href="">
                              WEBSITE高级分析师均来自于国际顶级金融机构，拥有实战分析交易从业经验超过20年，擅长海龟交易法，江恩法则等技术分析
                            </a>
                        </p>
                      </div>    
                    </div>
                  </li>
                  <li class='fix fx_wd_li l'>
                    <div class="left_box l">
                      <a href="">
                        <img src="../../Content/Images/pic05.jpg" height="138" width="299" alt="">
                      </a>
                    </div>
                    <div class="right_box r">
                      <div class="fx_text_box">
                        <p class="text_title f18 ">
                            WEBSITE咨询分析师团队
                        </p>
                        <p class="text_content tj">
                            <a href="">
                              WEBSITE高级分析师均来自于国际顶级金融机构，拥有实战分析交易从业经验超过20年，擅长海龟交易法，江恩法则等技术分析
                            </a>
                        </p>
                      </div>    
                    </div>
                  </li>
                  <li class='fix fx_wd_li r'>
                    <div class="left_box l">
                      <a href="">
                        <img src="../../Content/Images/pic05.jpg" height="138" width="299" alt="">
                      </a>
                    </div>
                    <div class="right_box r">
                      <div class="fx_text_box">
                        <p class="text_title f18 ">
                            WEBSITE咨询分析师团队
                        </p>
                        <p class="text_content tj ">
                          <a href="">
                            WEBSITE高级分析师均来自于国际顶级金融机构，拥有实战分析交易从业经验超过20年，擅长海龟交易法，江恩法则等技术分析
                          </a>
                        </p>
                      </div>    
                    </div>
                  </li>
                </ul>
            </div>
        </div>
      </div>  
  </div>
  <div class="m_footer">
    <div class="footerone">
      <div class="w1200 auto fix">
        <div class="ftone_left l">
            <ul>
              <li class='f_menu l'>
                <h2>产品中心</h2>
                <ul class="f_menu_con">
                  <li><a href="">交易产品</a></li>
                  <li><a href="">合约细则</a></li>
                </ul>
              </li>
              <li class='f_menu l'>
                <h2>新户指引</h2>
                <ul class="f_menu_con">
                  <li><a href="">开户流程</a></li>
                  <li><a href="">常见问题</a></li>
                  <li><a href="">开户流程</a></li>
                </ul>
              </li>
              <li class='f_menu l'>
                <h2>交易指南</h2>
                <ul class="f_menu_con">
                  <li><a href="">存款指南</a></li>
                  <li><a href="">取款指南</a></li>
                  <li><a href="">今日汇率</a></li>
                </ul>
              </li>
              <li class='f_menu l'>
                <h2>产品中心</h2>
                <ul class="f_menu_con">
                  <li><a href="">投资入门</a></li>
                  <li><a href="">行情资讯</a></li>
                </ul>
              </li>
              <li class='f_menu l'>
                <h2>关于我们</h2>
                <ul class="f_menu_con">
                  <li><a href="">公司简介</a></li>
                  <li><a href="">平台监管</a></li>
                  <li><a href="">平台公告</a></li>
                  <li><a href="">联系我们</a></li>
                </ul>
              </li>
            </ul>
        </div>
        <div class="ftone_right l">
            <p class='ft_email mb'><i class='icon1 icon_email'></i>abcd@abcd.com</p>
            <p class='ft_tel'><i class='icon1 icon_tel'></i >400-00000000</p>
            <p class='ft_support'><i class='icon1 icon_support'></i>在线客服</p>
        </div>
      </div>
    </div>
     <div class="footertwo pt20">
       <div class="w1200 auto fix">
          <h2 class='f18 lh38'>
            风险提示
          </h2>
          <p class='f12 lh24'>
            保证金交易存在较高风险，不适合所有投资者，增大杠杆意味着高风险与高收益并存，您需要知晓金融市场的保证金交易具有全部或部分亏损的可能，仔细考量并权衡风险及安全性，并选择适合自己的投资方式。
          </p>
          <p class='f12 lh24'> 交易平台为广大投资者提供外汇交易服务，网站发布的任何信息仅供参考，投资有风险，入市需谨慎。详情请参阅<a class='tdl cff0000' href="">风险披露书</a>。</p>
          <p class='f12 lh24 mt23'>受新西兰金融市场行为监管局（FSP）授权及监管，公司编号4859799</p>
       </div>       
     </div>
     <div class="footerthree">
       <div class="w1200 auto fix">
         <span class="l">Copyright © 2015-2017 ***有限公司版权所有   未经许可不得复制、转载或摘编，违者必究！</span>
         <span class='r'>
           <a class='wh' href="">隐私条款</a>
           <em>|</em>
           <a class='wh' href="">风险披露数</a>
           <em>|</em>
           <a class='wh' href="">免责声明</a>
           <a class='bgc39d02 w60 h18 tc lh18 ml10 wh dib' href="">会员登录</a>
         </span>
       </div>
     </div>
  </div>
</body>
</html>