<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>开户流程</title>
  <link rel="stylesheet" href="../../Content/Style/Web/public.css">
  <link rel="stylesheet" href="../../Content/Style/Web/style.css">
</head>
<body>
    <div class="content">
        <div class="w1200 auto">
            <div class="subfield_box">
                 <div class="subfield_con">
                    <ul class='subfield_ul w fix'>
                      <li class='subfield_li current l'><a class='tc' href="">手机注册</a></li>
                      <li class='subfield_li r'><a class='tc'  href="">邮箱注册</a></li>
                    </ul>
                </div>
            </div>
            <div class="reg_guid_box_con mt30">
                <div class="reg_guid_v pr">
                    <div class="reg_guid_tab pa">
                         <ul class='guid_ul'>
                            <li  class='guid_li'>
                              <p class='guid_text c1e2432 mb15'>第一步：打开官网，点击网站首页右上方[开设真实账户]按钮进入注册界面：</p>
                              <p class='guid_img'>
                                <img src="../../Content/Images/lc001.jpg" height="339" width="827" alt="">
                                </p>
                            </li>
                             <li  class='guid_li'>
                              <p class='guid_text c1e2432 mb15'>第二步：输入手机号码、动态验证码、验证码及推荐码，点击[下一步]进入第二步信息设置：</p>
                              <p class='guid_img'>
                                <img src="../../Content/Images/lc002.jpg" alt="">
                                </p>
                            </li>
                             <li  class='guid_li'>
                              <p class='guid_text c1e2432 mb15'>第三步：输入真实姓名、身份证号码、登陆密码，点击[下一步]完成注册：</p>
                              <p class='guid_img'>
                                <img src="../../Content/Images/lc003.jpg" alt="">
                                </p>
                            </li>
                             <li  class='guid_li'>
                              <p class='guid_text c1e2432 mb15'>第四步：选择出金</p>
                              <p class='guid_img'>
                                <img src="../../Content/Images/lc004.jpg" alt="">
                                </p>
                            </li> 
                          </ul>
                    </div>
                    <div class="reg_guid_tab dn pa">
                        <ul class='guid_ul'>
                            <li  class='guid_li'>
                              <p class='guid_text c1e2432 mb15'>第一步：打开官网，点击网站首页右上方[开设真实账户]按钮进入注册界面：</p>
                              <p class='guid_img'>
                                <img src="../../Content/Images/lc01.jpg" alt="">
                                </p>
                            </li>
                             <li  class='guid_li'>
                              <p class='guid_text c1e2432 mb15'>第二步：输入邮箱账号、邮箱验证码、验证码及推荐码，点击[下一步]进入第二步信息设置：</p>
                              <p class='guid_img'>
                                <img src="../../Content/Images/lc02.jpg" alt="">
                                </p>
                            </li>
                             <li  class='guid_li'>
                              <p class='guid_text c1e2432 mb15'>第三步：输入真实姓名、身份证号码、登录密码及确认密码，点击[下一步]完成注册：</p>
                              <p class='guid_img'>
                                <img src="../../Content/Images/lc03.jpg" alt="">
                                </p>
                            </li>
                             <li  class='guid_li'>
                              <p class='guid_text c1e2432 mb15'>第四步：选择[出金]</p>
                              <p class='guid_img'>
                                <img src="../../Content/Images/lc04.jpg" alt="">
                                </p>
                            </li> 
                          </ul>
                    </div>
                </div>
            </div> 
        </div>
    </div>
</body>
</html>