<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>常见问题</title>
  <link rel="stylesheet" href="../../Content/Style/Web/public.css">
  <link rel="stylesheet" href="../../Content/Style/Web/style.css">
</head>
<body>
    <div class="download_wrap">
      <div class="w1200 auto">
        <div class="pc_dl_box">
              <div class="m_title_box">
                  <h2 style='background:url(../../Content/Images/title03.gif) no-repeat center;'>
                    MT4 PC端
                  </h2>
                  <p class='box_hd_txt tc g6'>MT4平台集合了行情图表，技术分析和交易功能三大功能于一身，客户可同时进行下单、平仓、限价单、止损、止赢、查看报表及分析数据等不同的操作
                  </p>
              </div>
              <div class="pc_dl_box_bd fix">
                  <div class="pc_dl_img l">
                      <img src="../../Content/Images/pic11.jpg" alt="">
                  </div>
                  <div class="pc_dl_box_r r">
                      <div class="adv_box_list w">
                          <ul class='w'>
                            <li>1、支持一击成交、移动止损及部分平仓功能</li>
                            <li>1、支持一击成交、移动止损及部分平仓功能</li>
                            <li>1、支持一击成交、移动止损及部分平仓功能</li>
                            <li>1、支持一击成交、移动止损及部分平仓功能</li>
                            <li>1、支持一击成交、移动止损及部分平仓功能</li>
                            <li>1、支持一击成交、移动止损及部分平仓功能</li>
                            <li>1、支持一击成交、移动止损及部分平仓功能</li>
                          </ul>
                      </div>
                      <div class="r_box_dl_btn">
                          <a class='pr' href="">
                            <i class='icon1 icon_pc'></i>
                            PC端下载
                          </a>
                      </div>
                  </div>  
              </div>
        </div>
        <div class="moblie_dl_box">
            <div class="m_title_box">
                  <h2 style='background:url(../../Content/Images/title04.gif) no-repeat center;>
                    MT4 移动端
                  </h2>
                  <p class='box_hd_txt tc g6'>MT4平台集合了行情图表，技术分析和交易功能三大功能于一身，客户可同时进行下单、平仓、限价单、止损、止赢、查看报表及分析数据等不同的操作
                  </p>
            </div>
            <div class="moblie_dl_box_md fix">
                <img src="../../Content/Images/pic12.jpg" alt="">
            </div>
            <div class="moblie_dl_box_bd fix">
                  <div class="box_bd_l l">
                      <p class='m_dl_text f24'>扫描二维码下载MT4移动端，创建模拟账户</p>
                      <div class="wx_dl_box ">
                          <ul class='fix'>
                            <li>
                              <i class='icon2 icon_ios'></i>
                              <span class="icon_wx_ios"></span>
                            </li>
                            <li>
                              <i class='icon2 icon_android'></i>
                              <span class="icon_wx_android"></span>
                            </li>
                          </ul>
                      </div>
                  </div>
                  <div class="adv_box_list r">
                    <ul>
                      <li>1.随时随地查看和交易</li>
                      <li>1.随时随地查看和交易</li>
                      <li>1.随时随地查看和交易</li>
                      <li>1.随时随地查看和交易</li>
                      <li>1.随时随地查看和交易</li>
                      <li>1.随时随地查看和交易</li>
                      <li>1.随时随地查看和交易</li>
                    </ul>
                  </div>
            </div>
        </div>
      </div>
    </div>
</body>
</html>