<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>交易平台下载</title>
  <link rel="stylesheet" href="../../Content/Style/Web/public.css">
  <link rel="stylesheet" href="../../Content/Style/Web/style.css">
</head>
<body>
    <div class="download_wrap">
      <div class="w1200 auto">
        <div class="pc_dl_box">
              <div class="m_title_box">
                  <h2 style='background:url(../../Content/Images/title03.gif) no-repeat center;'>
                    MT4 PC端
                  </h2>
                  <p class='box_hd_txt tc g6'>MT4平台集合了行情图表、技术分析和交易功能三大功能於一身，客户可同时进行下单、平仓、限价单、止损、止赢、查看报表及分析数据等不同操作。
                  </p>
              </div>
              <div class="pc_dl_box_bd fix">
                  <div class="pc_dl_img l">
                      <img src="../../Content/Images/pic11.jpg" alt="">
                  </div>
                  <div class="pc_dl_box_r r">
                      <div class="adv_box_list w">
                          <ul class='w'>
                            <li>1、支持一击成交、移动止损及部分平仓功能 </li>
                            <li>2、可在开仓前预先设定止盈/止损</li>
                            <li>3、18种热门货币对，离岸人民币交易</li>
                            <li>4、31种图形分析工具、30种技术指标、18种热门货币对</li>
                            <li>5、可自设技术指针参数及显示方式</li>
                            <li>6、持仓、技术指针同时显示于图表上能</li>
                            <li>7、获取最新财经新闻</li>
                          </ul>
                      </div>
                      <div class="r_box_dl_btn">
                          <a class='pr' href="">
                            <i class='icon1 icon_pc'></i>
                            PC端下载
                          </a>
                      </div>
                  </div>  
              </div>
        </div>
        <div class="moblie_dl_box">
            <div class="m_title_box">
                  <h2 style='background:url(../../Content/Images/title04.gif) no-repeat center';>
                    MT4 移动端
                  </h2>
                  <p class='box_hd_txt tc g6'>MT4 移动版能够全面管理交易账户，发出所有类型的订单，让您随时随地接触外汇行情。 综合走势图助您分析外汇报价的当前动态，交易历史为您呈现之前的交易记录，强大的交易系统帮您发出新交易。
                  </p>
            </div>
            <div class="moblie_dl_box_md fix">
                <img src="../../Content/Images/pic12.jpg" alt="">
            </div>
            <div class="moblie_dl_box_bd fix">
                  <div class="box_bd_l l">
                      <p class='m_dl_text f24'>扫描二维码下载MT4移动端，创建模拟账户</p>
                      <div class="wx_dl_box ">
                          <ul class='fix'>
                            <li>
                              <i class='icon2 icon_ios'></i>
                              <span class="icon_wx_ios"></span>
                            </li>
                            <li>
                              <i class='icon2 icon_android'></i>
                              <span class="icon_wx_android"></span>
                            </li>
                          </ul>
                      </div>
                  </div>
                  <div class="adv_box_list r">
                    <ul>
                      <li>1、随时随地查看和交易</li>
                      <li>2、实时更新报价</li>
                      <li>3、发出市场订单、限价挂单和止损挂单</li>
                      <li>4、执行止损单和限价单</li>
                      <li>5、更改订单数量</li>
                      <li>6、完全移除订单</li>
                      <li>7、设置走势图指标</li>
                    </ul>
                  </div>
            </div>
        </div>
      </div>
    </div>
</body>
</html>