<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>平台公告</title>
  <link rel="stylesheet" href="../../Content/Style/Web/public.css">
  <link rel="stylesheet" href="../../Content/Style/Web/style.css">
</head>
<body>
    <div class="new_list_wrap">
      <div class="w1200 auto">
        <div class="list_box_hd">
          <ul class='new_list_ul '>
          <li class='fix'>
              <div class="list_left_box l">
                  <div class="leftbox_hd f24 tc">
                    2017
                  </div>
                  <div class="leftbox_bd tc">
                    <em class='db f30'>27</em>
                    <span class='f18'>07</span>
                  </div>
              </div>
              <div class="list_middle_box l">
                <p class='text_title'>欧银传言令欧元暴跌，EIA库存大增令油价重挫进5%</p>
                <p class='lh24 tj g6'>周三（6月7日）欧洲时段，引消息人士称欧洲央行将下调通胀预估周周三（6月7日）欧洲时段，引消息人士称欧洲央行将下调通胀预估周周三（6月7日）欧洲时段，引消息人士称欧洲央行将下调通胀预估周</p>
                <div class='text_goto'><a class='' href="">[查看详情]</a></div>
              </div>
              <div class="list_right_box pr r">
                <img width='135' height='135' src="../../Content/Images/pic01.jpg" alt="">
                <a class="mask_div" href=''>
                    <i class="icon2 icon_add"></i>  
                </a>
              </div>  
            </li>
          <li class='fix'>
              <div class="list_left_box l">
                  <div class="leftbox_hd f24 tc">
                    2017
                  </div>
                  <div class="leftbox_bd tc">
                    <em class='db f30'>27</em>
                    <span class='f18'>07</span>
                  </div>
              </div>
              <div class="list_middle_box l">
                <p class='text_title'>欧银传言令欧元暴跌，EIA库存大增令油价重挫进5%</p>
                <p class='lh24 tj g6'>周三（6月7日）欧洲时段，引消息人士称欧洲央行将下调通胀预估周周三（6月7日）欧洲时段，引消息人士称欧洲央行将下调通胀预估周周三（6月7日）欧洲时段，引消息人士称欧洲央行将下调通胀预估周</p>
                <div class='text_goto'><a class='' href="">[查看详情]</a></div>
              </div>
              <div class="list_right_box pr r">
               <img width='135' height='135' src="../../Content/Images/pic01.jpg" alt="">
                <a class="mask_div" href=''>
                    <i class="icon2 icon_add"></i>  
                </a>
              </div>  
            </li>
            <li class='fix'>
              <div class="list_left_box l">
                  <div class="leftbox_hd f24 tc">
                    2017
                  </div>
                  <div class="leftbox_bd tc">
                    <em class='db f30'>27</em>
                    <span class='f18'>07</span>
                  </div>
              </div>
              <div class="list_middle_box l">
                <p class='text_title'>欧银传言令欧元暴跌，EIA库存大增令油价重挫进5%</p>
                <p class='lh24 tj g6'>周三（6月7日）欧洲时段，引消息人士称欧洲央行将下调通胀预估周周三（6月7日）欧洲时段，引消息人士称欧洲央行将下调通胀预估周周三（6月7日）欧洲时段，引消息人士称欧洲央行将下调通胀预估周</p>
                <div class='text_goto'><a class='' href="">[查看详情]</a></div>
              </div>
              <div class="list_right_box pr r">
                <img width='135' height='135' src="../../Content/Images/pic01.jpg" alt="">
                <a class="mask_div" href=''>
                    <i class="icon2 icon_add"></i>  
                </a>
              </div>  
            </li>
          <li class='fix'>
              <div class="list_left_box l">
                  <div class="leftbox_hd f24 tc">
                    2017
                  </div>
                  <div class="leftbox_bd tc">
                    <em class='db f30'>27</em>
                    <span class='f18'>07</span>
                  </div>
              </div>
              <div class="list_middle_box l">
                <p class='text_title'>欧银传言令欧元暴跌，EIA库存大增令油价重挫进5%</p>
                <p class='lh24 tj g6'>周三（6月7日）欧洲时段，引消息人士称欧洲央行将下调通胀预估周周三（6月7日）欧洲时段，引消息人士称欧洲央行将下调通胀预估周周三（6月7日）欧洲时段，引消息人士称欧洲央行将下调通胀预估周</p>
                <div class='text_goto'><a class='' href="">[查看详情]</a></div>
              </div>
              <div class="list_right_box pr r">
                <img width='135' height='135' src="../../Content/Images/pic01.jpg" alt="">
                <a class="mask_div" href=''>
                    <i class="icon2 icon_add"></i>  
                </a>
              </div>  
            </li>
          <li class='fix'>
              <div class="list_left_box l">
                  <div class="leftbox_hd f24 tc">
                    2017
                  </div>
                  <div class="leftbox_bd tc">
                    <em class='db f30'>27</em>
                    <span class='f18'>07</span>
                  </div>
              </div>
              <div class="list_middle_box l">
                <p class='text_title'>欧银传言令欧元暴跌，EIA库存大增令油价重挫进5%</p>
                <p class='lh24 tj g6'>周三（6月7日）欧洲时段，引消息人士称欧洲央行将下调通胀预估周周三（6月7日）欧洲时段，引消息人士称欧洲央行将下调通胀预估周周三（6月7日）欧洲时段，引消息人士称欧洲央行将下调通胀预估周</p>
                <div class='text_goto'><a class='' href="">[查看详情]</a></div>
              </div>
              <div class="list_right_box pr r">
                <img width='135' height='135' src="../../Content/Images/pic01.jpg" alt="">
                <a class="mask_div" href=''>
                    <i class="icon2 icon_add"></i>  
                </a>
              </div>  
            </li>
            <li class='fix'>
              <div class="list_left_box l">
                  <div class="leftbox_hd f24 tc">
                    2017
                  </div>
                  <div class="leftbox_bd tc">
                    <em class='db f30'>27</em>
                    <span class='f18'>07</span>
                  </div>
              </div>
              <div class="list_middle_box l">
                <p class='text_title'>欧银传言令欧元暴跌，EIA库存大增令油价重挫进5%</p>
                <p class='lh24 tj g6'>周三（6月7日）欧洲时段，引消息人士称欧洲央行将下调通胀预估周周三（6月7日）欧洲时段，引消息人士称欧洲央行将下调通胀预估周周三（6月7日）欧洲时段，引消息人士称欧洲央行将下调通胀预估周</p>
                <div class='text_goto'><a class='' href="">[查看详情]</a></div>
              </div>
              <div class="list_right_box pr r">
                <img width='135' height='135' src="../../Content/Images/pic01.jpg" alt="">
                <a class="mask_div" href=''>
                    <i class="icon2 icon_add"></i>  
                </a>
              </div>  
            </li>
            <li class='fix'>
              <div class="list_left_box l">
                  <div class="leftbox_hd f24 tc">
                    2017
                  </div>
                  <div class="leftbox_bd tc">
                    <em class='db f30'>27</em>
                    <span class='f18'>07</span>
                  </div>
              </div>
              <div class="list_middle_box l">
                <p class='text_title'>欧银传言令欧元暴跌，EIA库存大增令油价重挫进5%</p>
                <p class='lh24 tj g6'>周三（6月7日）欧洲时段，引消息人士称欧洲央行将下调通胀预估周周三（6月7日）欧洲时段，引消息人士称欧洲央行将下调通胀预估周周三（6月7日）欧洲时段，引消息人士称欧洲央行将下调通胀预估周</p>
                <div class='text_goto'><a class='' href="">[查看详情]</a></div>
              </div>
              <div class="list_right_box pr r">
                <img width='135' height='135' src="../../Content/Images/pic01.jpg" alt="">
                <a class="mask_div" href=''>
                    <i class="icon2 icon_add"></i>  
                </a>
              </div>  
            </li>
          </ul>
        </div>
        <div class="list_box_bd">
            <div class="div_paging">
                <a href="" class='prev'>上一页</a>
                <a class='page_num current' href="">1</a>
                <a class='page_num' href="">2</a>
                <a class='page_num' href="">3</a>
                <a class='page_num' href="">4</a>
                <a class='page_num' href="">5</a>
                <a class='page_num' href="">...</a>
                <a class='page_num' href="">13</a>
                <a  href="" class="next">下一页</a>
                <span class='page_totle g6 l'>共<em>13</em>页</span>
                <span class='g6 ml12 mr12 l'>到第<input class='bcccccc w28 h28 tc ml12 mr12 ' type="text" value='6'>页</span>
                <a href="" class='confirm l'>确认</a>
            </div>
        </div>
      </div>    
    </div>
</body>
</html>