<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>公司简介</title>
  <link rel="stylesheet" href="../../Content/Style/Web/public.css">
  <link rel="stylesheet" href="../../Content/Style/Web/style.css">
</head>
<body>
     <div class="about_us_wrap">
      <div class="w1200 auto">
            <div class="profile_box">
                <div class="profile_box_hd">
                    <span class='bg1e2432 h40 w10 l'></span>
                    <h2 class='f18 bg666f87 lh40 h40 ml18 pl17'>公司简介</h2>
                </div>
                <p class='profile_box_cd mt14 mb24 g6'>
                  创立咨询提供24小时外汇、贵金属现货等多元化金融产品在线交易服务，致力以优质的客户服务，领先的平台技术，极具竞争力的交易条件，满足全球不同投资者的差异化需求。我们始终致力于为您提供一个安心，快捷和透明的交易环境，同时还将在不断研发及完善前沿交易平台和个性化客户服务。
                </p>
            </div>   
            <div class="jy_box">
                <div class="jy_box_hd">
                  <span class='bg1e2432 h40 w10 l'></span>
                   <h2 class='f18 bg666f87 lh40 h40 ml18 pl17 '>创立咨询寄语</h2>
                </div>
                <div class="jy_box_cd mt14 mb24">
                  <p class='lh28 g6'>创立咨询是一个年轻的品牌和团队，自成立以来，一直在不断的成长。</p>
                  <p class='mt24 mb24 lh28 g6'>我们希望让中国的外汇交易投资者及投资机构能有一个干净、透明的交易环境，并努力提高技术研发水平和自身风险控制水平，于客户站在同一阵营，帮助投资者能尽快摆脱没有一个稳定交易外汇平台的尴尬，让选择平台不再是交易外汇最困难的一步。我们致力于打造产品遍布整个产业链、高风险管理能力的国际化外汇券商。感谢各位见证我们的成长！</p>
                  <em class='lh28 c1e2432'>——创立咨询</em>
                </div>
            </div>
             <div class="adv_box">
                <div class="adv_box_hd">
                  <span class='bg1e2432 h40 w10 l'></span>
                   <h2 class='f18 bg666f87 lh40 h40 ml18 pl17 '>创立咨询优势</h2>
                </div>
                <div class="adv_box_cd mt20 tc">
                  <img class='dib' src="../../Content/Images/pic07.png" alt="">
                </div>
            </div>
      </div>
     
    </div> 
</body>
</html>